resources/soap/src/java/ch/naz/yanel/RubrikService.wsdl

<wsdl:definitions
	targetNamespace="http//www.naz.ch/eld/wyona/1.0"
	xmlns:tns="http//www.naz.ch/eld/wyona/1.0"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<wsdl:types>
			<xsd:schema 
			attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http//www.naz.ch/eld/wyona/1.0">
			
			<xsd:element name="CreateRubrik">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="title_de" type="xsd:string"/>
						<xsd:element name="title_fr" type="xsd:string"/>
						<xsd:element name="title_it" type="xsd:string"/>
						<xsd:element name="title_en" type="xsd:string"/>
						<xsd:element name="name">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[a-zA-Z_0-9]+"></xsd:pattern>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="parent-node-path" type="xsd:anyURI"/>
						<xsd:element name="axis" default="child">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="child"/>
									<xsd:enumeration value="sibling"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="CreateRubrikResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="node-path" type="xsd:anyURI"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="ListAllRubriks">
			<!-- TODO -->
			</xsd:element>
			<xsd:element name="ListAllRubriksResponse">
			<!-- TODO -->
			</xsd:element>
			
			<xsd:element name="RubrikFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="exception-message" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>	
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="CreateRubrikMessage">
		<wsdl:part name="part1" element="tns:CreateRubrik"/>
	</wsdl:message>
	<wsdl:message name="CreateRubrikResponseMessage">
		<wsdl:part name="part1" element="tns:CreateRubrikResponse" />
	</wsdl:message>
	
	<wsdl:message name="ListAllRubriksMessage">
		<wsdl:part name="part1" element="tns:ListAllRubriks"/>
	</wsdl:message>
	<wsdl:message name="ListAllRubriksResponseMessage">
		<wsdl:part name="part1" element="tns:ListAllRubriksResponse" />
	</wsdl:message>
	
	<wsdl:message name="RubrikFaultMessage">
		<wsdl:part name="part1" element="tns:RubrikFault" />
	</wsdl:message>
	
	<wsdl:portType name="RubrikServicePortType">
		<wsdl:operation name="createRubrik">
			<wsdl:input message="tns:CreateRubrikMessage" />
			<wsdl:output message="tns:CreateRubrikResponseMessage" />
			<wsdl:fault message="tns:RubrikFaultMessage"
				name="createFault" />
		</wsdl:operation>
		<wsdl:operation name="listAllRubriks">
			<wsdl:input message="tns:ListAllRubriksMessage" />
			<wsdl:output message="tns:ListAllRubriksResponseMessage" />
			<wsdl:fault message="tns:RubrikFaultMessage" name="listFault" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="RubrikServiceSOAPBinding"
		type="tns:RubrikServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="createRubrik">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="createFault">
				<soap:fault use="literal" name="createFault" />
			</wsdl:fault>
		</wsdl:operation>		
	</wsdl:binding>

	<wsdl:service name="RubrikService">
		<wsdl:port name="RubrikServiceSOAPport_http"
			binding="tns:RubrikServiceSOAPBinding">
			<soap:address location="http://replace/with/real/endpoint"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
